body {
    display: grid;
    justify-items: center;
    background-image: url('https://www.laportadacanada.com/userfiles/images/exportar.jpg');
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
    color: #ffffff;
    text-shadow: #a6a5a5 1px 1px 3px;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: .5rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 1vh;
    width: 90vw;
    background-color: rgba(45, 45, 45, 0.8);
    color: #ffffff;
    text-shadow: #a6a5a5 1px 1px 3px;
    font-size: 2vh;
    padding: 2vh;
    border-radius: 0.5rem;
}

nav .titulo {
    grid-column: 1 / 2; 
    justify-self: start;
}

.nav-links {
    grid-column: 2 / 3;
    justify-self: end;
    display: flex; 
    list-style: none;
    gap: 1rem; 
}

.home {
    display: grid;
    grid-template-rows: auto auto auto auto;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin-top: 10vh;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
}

.home h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 1rem;
}

.home h3 {
    font-size: 1.5rem;
    color: #555;
    margin-bottom: 0.5rem;
}

.home a {
    text-decoration: none;
}

.home button {
    margin: 2vh;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    min-width: 15vw;
    min-height: 6vh;
}

.calcular {
    margin: 2vh;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    min-width: 8vw;
    min-height: 4vh;
}

.home button:hover {
    background-color: #0056b3;
}

.container {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr 1fr 3fr;
    justify-items: center;
    align-items: center;
    gap: .5rem;
    text-align: center;
    margin: 0 auto;
    height: 65vh;
    width: 40vw;
    background-color: rgba(45, 45, 45, 0.8);
    border-radius: 0.5rem;
    color: #ffffff;
    text-shadow: #a6a5a5 1px 1px 3px;
    font-size: 2vh;
    padding: .5rem;
}

.error {
    color: red;
    font-size: 3vh;
    text-shadow: #000000 1px 1px 3px;
}

#historial {
    max-height: 20vh;
    overflow-y: auto;
    padding: 1vh;
}


#productos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    height: 100vh;
    padding: 1vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.product {
    display: grid;
    grid-template-rows: auto auto auto auto;
    align-items: end;
    justify-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 30vw;
}

.product:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.product img {
    margin-top: 2vh;
    max-width: 10vw;
    height: auto;
    max-height: 20vh;
}

.product-name {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin: 0.5rem 0;
}

.product-price {
    font-size: 1rem;
    color: #007bff;
    margin: 0.5rem 0;
}

.product-description {
    font-size: 0.9rem;
    color: #555;
    margin: 0.5rem 1rem;
}

.product button {
    display: inline-block;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    min-width: 10vw;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.product button:hover {
    background-color: #0056b3;
}

.alert {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
    margin: 20px auto;
    max-width: 400px;
}

.cart{
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 90vw;
    align-items: center;
    justify-items: center;
    margin-top: 5vh;
    gap: 2vh;
    padding: 2vh;
}

.cart-product{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 1vh;
    padding: 1vh;
}
.cart-product img{
    max-width: 10vw;
    height: auto;
    max-height: 20vh;
}