body {
    display: grid;
    justify-items: center;
    background-image: url('https://www.laportadacanada.com/userfiles/images/exportar.jpg');
    height: 100%;
}

.container{
    display: grid;
    grid-template-rows: 1fr 2fr 1fr  1fr 3fr;
    justify-items: center;
    align-items: center;
    gap: .5rem;
    text-align: center;
    margin: 0 auto;
    max-width: 50vw;
    height: 95vh;
    background-color: rgba(45, 45, 45, 0.8); 
    border-radius: 0.5rem; 
    color: #ffffff;
    text-shadow: #a6a5a5 1px 1px 3px;
    font-size: 2vh;
    padding: .5rem;
}

.form_precio, .form_shipping{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


input, button {
    border-radius: 10px;
    max-width: 8vw;
    max-height: 2vh;
}

button{
    max-height: 3vh;
}

.error{
    color: red;
    font-size: 3vh;
    text-shadow: #000000 1px 1px 3px;
}